* {
  padding: 0px;
  margin: 0px;
}

body {
  list-style: none;
  font-family: "lemonmilkboldita";
  font-weight: 100;
  color: white;
  text-decoration: none;
}
:root {
  --blue: rgb(0, 204, 255);
}

*::selection {
  background: var(--blue);
}
header {
}
header {
}
nav {
  align-items: center;
  user-select: none;
  display: flex;
  flex-direction: row;
  background: rgb(56, 56, 56);
  justify-content: space-between;
  border-bottom: 3px solid var(--blue);
  height: 100px;
  width: 100%;
  font-family: "lemonmilkboldita";
  font-weight: 100;
}
nav > div > ul > li > a {
  color: gray;
}

nav li {
  display: inline;
  margin: 20px;
}

main {
  height: 100%;
  display: flex;
  width: 100%;
}
form {
  display: flex;
}
.left-index {
  width: 30%;
  background-color: #333;
  color: aliceblue;
}

.img-gallery-index {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.column {
  flex: 47%;
  max-width: 50%;
}
.bg-img {
  background-image: url("../img/Catalogue\ Jeff\ de\ Bruges\ Ecoles\ et\ Associations_Paques\ 2024_page-0001.jpg");

  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

section.img-gallery-index img {
  padding: 10px;
  height: 700px;
}
.fieldset {
  display: flex;
  border-radius: 20%;
  border: 1px solid rgb(182, 182, 182);
  min-height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  main {
    flex: 100%;
    flex-direction: column;
  }
  .left-index {
    width: 100%;
  }
  .img-gallery-index {
    width: 100%;
  }
}
@font-face {
  font-family: "lemonmilkregular";
  src: url("../font/LEMONMILK-Regular.otf");
}
@font-face {
  font-family: "lemonmilkboldita";
  src: url("../font/LEMONMILK-BoldItalic.otf");
}
@font-face {
  font-family: "lemonmilklight";
  src: url("../font/LEMONMILK-Light.otf");
}
