* {
  padding: 0px;
  margin: 0px;
}

body {
  list-style: none;
}
:root {
  --blue: rgb(0, 204, 255);
}

*::selection {
  background: var(--blue);
}
header {
}
header {
}
nav {
  align-items: center;
  user-select: none;
  display: flex;
  flex-direction: row;
  background: rgb(56, 56, 56);
  justify-content: space-between;
  border-bottom: 3px solid var(--blue);
  height: 100px;
  width: 100%;
  font-family: "lemonmilkboldita";
  font-weight: 100;
}
nav > div > ul > li > a {
  color: gray;
}

nav li {
  display: inline;
  margin: 20px;
}

main {
}
form {
  display: flex;
}
.bg-img {
  background-image: url("../img/Catalogue\ Jeff\ de\ Bruges\ Ecoles\ et\ Associations_Paques\ 2024_page-0001.jpg");
  min-width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
